/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
        hyper: hyper {
            compatible = "zmk,behavior-mod-morph";
            label = "HYPER";
            bindings = <&none>, <&none>;

            #binding-cells = <0>;
            mods = <(MOD_LGUI)>;
            keep-mods = <(MOD_LCTL|MOD_LALT|MOD_LSFT)>;
        };
    };

    combos {
        compatible = "zmk,combos";

        ContolLY {
            bindings = <&to 1>;
            key-positions = <4 5>;
        };

        fromNav {
            bindings = <&to 0>;
            key-positions = <19 21>;
            layers = <2>;
        };

        toNav {
            bindings = <&to 2>;
            key-positions = <19 21>;
            layers = <0>;
        };

        Minus {
            bindings = <&kp MINUS>;
            key-positions = <31 32>;
            layers = <0 2>;
        };

        Equal {
            bindings = <&kp EQUAL>;
            key-positions = <33 32>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // ------------------------------------------------------------------------------------------------------------
            // |  ESC  |  1  |  2  |  3   |  4   |  5   |                   |  6   |  7    |  8    |  9   |   0   |   `   |
            // |  TAB  |  Q  |  W  |  E   |  R   |  T   |                   |  Y   |  U    |  I    |  O   |   P   |   -   |
            // |  CTRL |  A  |  S  |  D   |  F   |  G   |                   |  H   |  J    |  K    |  L   |   ;   |   '   |
            // | SHIFT |  Z  |  X  |  C   |  V   |  B   |   "["  |  |  "]"  |  N   |  M    |  ,    |  .   |   /   | SHIFT |
            //                     | ALT  | GUI  | LOWER|  SPACE |  | ENTER | RAISE| BSPC  | GUI   |

            label = "Base";
            bindings = <
&kp ESC      &kp Q   &kp W   &kp E             &kp R         &kp T                                                                      &kp Y           &kp U               &kp I      &kp O    &kp P     &kp BSLH
&mt F24 TAB  &kp A   &kp S   &kp D             &kp F         &kp G                                                                      &kp H           &kp J               &kp K      &kp L    &kp SEMI  &kp SQT
&kp LSHFT    &kp Z   &kp X   &kp C             &kp V         &kp B                                                                      &kp N           &kp M               &kp COMMA  &kp DOT  &kp FSLH  &mt LS(RIGHT_SHIFT) SQT
&to 2        &kp N1  &kp N2  &kp N3            &kp N4        &kp N5            &mt LS(LA(LC(LGUI))) F13    &kp F24                      &kp N6          &kp N7              &kp N8     &kp N9   &kp N0    &kp LSHFT
                             &kp LEFT_CONTROL  &kp LEFT_ALT  &kp LEFT_COMMAND  &kp SPACE                   &mt LA(BACKSPACE) BACKSPACE  &mt RCMD ENTER  &mt RIGHT_ALT LBKT  &kp RBKT
            >;
        };

        ControlLayer {
            bindings = <
&to 0       &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4                              &trans  &trans  &trans  &trans  &trans  &bootloader
&trans      &trans        &trans        &trans        &trans        &trans                                    &trans  &trans  &trans  &trans  &trans  &trans
&trans      &trans        &trans        &trans        &trans        &trans                                    &trans  &trans  &trans  &trans  &trans  &trans
&bt BT_CLR  &trans        &trans        &trans        &trans        &trans        &bootloader    &bootloader  &trans  &trans  &trans  &trans  &trans  &trans
                                        &trans        &trans        &trans        &trans         &trans       &trans  &trans  &trans
            >;

            label = "CtrlLy";
        };

        nav {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                    &trans  &trans    &kp UP    &trans     &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                    &trans  &kp LEFT  &kp DOWN  &kp RIGHT  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                    &trans  &trans    &trans    &trans     &trans  &trans
&to 0   &trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans    &trans    &trans     &trans  &trans
                        &trans  &trans  &trans  &trans    &trans  &trans  &trans    &trans
            >;

            label = "NAV";
        };
    };
};
